.login-button {
    background-color: #3fc1c9;
    color: #fff;
    border: 1px solid #f00;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}

.login-button:hover {
    border-color: #fff;
}
