.login-button {
    background-color: #00BFFF;
    color: #fff;
    border: 1px solid #ff0000;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}

.login-button:hover {
    border-color: #ff0000;
}
